# API Setting

In [ ]:
!pip install tensorflow==2.12.0

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: tensorflow==2.12.0 in /usr/local/lib/python3.10/dist-packages (2.12.0)
Requirement already satisfied: absl-py>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow==2.12.0) (1.4.0)
Requirement already satisfied: astunparse>=1.6.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow==2.12.0) (1.6.3)
Requirement already satisfied: flatbuffers>=2.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow==2.12.0) (23.3.3)
Requirement already satisfied: gast<=0.4.0,>=0.2.1 in /usr/local/lib/python3.10/dist-packages (from tensorflow==2.12.0) (0.4.0)
Requirement already satisfied: google-pasta>=0.1.1 in /usr/local/lib/python3.10/dist-packages (from tensorflow==2.12.0) (0.2.0)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in /usr/local/lib/python3.10/dist-packages (from tensorflow==2.12.0) (1.54.0)
Requirement already satisfied: h5py>=2.9.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow==2.12.0) (3.8.0)
Requirement already satisfied: jax>=0.3.15 in /usr/local/lib/python3.10/dist-packages (from tensorflow==2.12.0) (0.4.10)
Requirement already satisfied: keras<2.13,>=2.12.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow==2.12.0) (2.12.0)
Requirement already satisfied: libclang>=13.0.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow==2.12.0) (16.0.0)
Requirement already satisfied: numpy<1.24,>=1.22 in /usr/local/lib/python3.10/dist-packages (from tensorflow==2.12.0) (1.22.4)
Requirement already satisfied: opt-einsum>=2.3.2 in /usr/local/lib/python3.10/dist-packages (from tensorflow==2.12.0) (3.3.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from tensorflow==2.12.0) (23.1)
Requirement already satisfied: protobuf!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.20.3 in /usr/local/lib/python3.10/dist-packages (from tensorflow==2.12.0) (3.20.3)
Requirement already satisfied: setuptools in /usr/local/lib/python3.10/dist-packages (from tensorflow==2.12.0) (67.7.2)
Requirement already satisfied: six>=1.12.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow==2.12.0) (1.16.0)
Requirement already satisfied: tensorboard<2.13,>=2.12 in /usr/local/lib/python3.10/dist-packages (from tensorflow==2.12.0) (2.12.2)
Requirement already satisfied: tensorflow-estimator<2.13,>=2.12.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow==2.12.0) (2.12.0)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow==2.12.0) (2.3.0)
Requirement already satisfied: typing-extensions>=3.6.6 in /usr/local/lib/python3.10/dist-packages (from tensorflow==2.12.0) (4.5.0)
Requirement already satisfied: wrapt<1.15,>=1.11.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow==2.12.0) (1.14.1)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in /usr/local/lib/python3.10/dist-packages (from tensorflow==2.12.0) (0.32.0)
Requirement already satisfied: wheel<1.0,>=0.23.0 in /usr/local/lib/python3.10/dist-packages (from astunparse>=1.6.0->tensorflow==2.12.0) (0.40.0)
Requirement already satisfied: ml-dtypes>=0.1.0 in /usr/local/lib/python3.10/dist-packages (from jax>=0.3.15->tensorflow==2.12.0) (0.1.0)
Requirement already satisfied: scipy>=1.7 in /usr/local/lib/python3.10/dist-packages (from jax>=0.3.15->tensorflow==2.12.0) (1.10.1)
Requirement already satisfied: google-auth<3,>=1.6.3 in /usr/local/lib/python3.10/dist-packages (from tensorboard<2.13,>=2.12->tensorflow==2.12.0) (2.17.3)
Requirement already satisfied: google-auth-oauthlib<1.1,>=0.5 in /usr/local/lib/python3.10/dist-packages (from tensorboard<2.13,>=2.12->tensorflow==2.12.0) (1.0.0)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.10/dist-packages (from tensorboard<2.13,>=2.12->tensorflow==2.12.0) (3.4.3)
Requirement already satisfied: requests<3,>=2.21.0 in /usr/local/lib/python3.10/dist-packages (from tensorboard<2.13,>=2.12->tensorflow==2.12.0) (2.27.1)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in /usr/local/lib/python3.10/dist-packages (from tensorboard<2.13,>=2.12->tensorflow==2.12.0) (0.7.0)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /usr/local/lib/python3.10/dist-packages (from tensorboard<2.13,>=2.12->tensorflow==2.12.0) (1.8.1)
Requirement already satisfied: werkzeug>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from tensorboard<2.13,>=2.12->tensorflow==2.12.0) (2.3.0)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.13,>=2.12->tensorflow==2.12.0) (5.3.0)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.10/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.13,>=2.12->tensorflow==2.12.0) (0.3.0)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.10/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.13,>=2.12->tensorflow==2.12.0) (4.9)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.10/dist-packages (from google-auth-oauthlib<1.1,>=0.5->tensorboard<2.13,>=2.12->tensorflow==2.12.0) (1.3.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.21.0->tensorboard<2.13,>=2.12->tensorflow==2.12.0) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.21.0->tensorboard<2.13,>=2.12->tensorflow==2.12.0) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.21.0->tensorboard<2.13,>=2.12->tensorflow==2.12.0) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.21.0->tensorboard<2.13,>=2.12->tensorflow==2.12.0) (3.4)
Requirement already satisfied: MarkupSafe>=2.1.1 in /usr/local/lib/python3.10/dist-packages (from werkzeug>=1.0.1->tensorboard<2.13,>=2.12->tensorflow==2.12.0) (2.1.2)
Requirement already satisfied: pyasn1<0.6.0,>=0.4.6 in /usr/local/lib/python3.10/dist-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.13,>=2.12->tensorflow==2.12.0) (0.5.0)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.10/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<1.1,>=0.5->tensorboard<2.13,>=2.12->tensorflow==2.12.0) (3.2.2)

In [ ]:
import tensorflow as tf
import numpy as np 
import pandas as pd
import pickle
import h5py


from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.svm import SVC

# Download Dataset

In [ ]:
data_train = ! gdown -- 1KaT2WiyY03vll1C7JDa7hBRFxMHRKizZ

# Data Preparation

In [ ]:
df = pd.read_csv('/content/train.csv')

In [ ]:
df.head(10)

,cough,breathlessness,headache,chest_pain,loss_of_balance,blackheads,disease
0,0,0,0,0,0,1,Acne
1,0,0,0,0,0,1,Acne
2,0,0,0,0,0,1,Acne
3,0,0,0,0,0,1,Acne
4,0,0,0,0,0,0,Acne
5,0,0,0,0,0,1,Acne
6,0,0,0,0,0,1,Acne
7,0,0,0,0,0,1,Acne
8,0,0,0,0,0,0,Acne
9,0,0,0,0,0,1,Acne

In [ ]:
df.isna().sum().value_counts()

0    7
dtype: int64

In [ ]:
df.columns

Index(['cough', 'breathlessness', 'headache', 'chest_pain', 'loss_of_balance',
       'blackheads', 'disease'],
      dtype='object')

In [ ]:
df

,cough,breathlessness,headache,chest_pain,loss_of_balance,blackheads,disease
0,0,0,0,0,0,1,Acne
1,0,0,0,0,0,1,Acne
2,0,0,0,0,0,1,Acne
3,0,0,0,0,0,1,Acne
4,0,0,0,0,0,0,Acne
...,...,...,...,...,...,...,...
95,0,0,1,0,0,0,Migraine
96,0,0,1,0,0,0,Migraine
97,0,0,1,0,0,0,Migraine
98,0,0,1,0,0,0,Migraine
99,0,0,1,0,0,0,Migraine

In [ ]:
X = df.iloc[:,:-1]
y = df.iloc[:,-1]

In [ ]:
X.head()

   cough  breathlessness  headache  chest_pain  loss_of_balance  blackheads
0      0               0         0           0                0           1
1      0               0         0           0                0           1
2      0               0         0           0                0           1
3      0               0         0           0                0           1
4      0               0         0           0                0           0

In [ ]:
y

0         Acne
1         Acne
2         Acne
3         Acne
4         Acne
        ...
95    Migraine
96    Migraine
97    Migraine
98    Migraine
99    Migraine
Name: disease, Length: 100, dtype: object

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=69)

# Model Train and Testing

SVM Method

In [ ]:
model = SVC().fit(X_train,y_train)

In [ ]:
accuracy = model.score(X_test,y_test)
print("Accuracy = ", accuracy)

Accuracy =  0.95

In [ ]:
data_test = ! gdown -- 1lVyBwL-j8TT924Oi9fk10lKz8UWNlYeg

In [ ]:
df_test = pd.read_csv("/content/test.csv")

In [ ]:
df_test

,cough,breathlessness,headache,chest_pain,loss_of_balance,blackheads,disease
0,1,0,0,1,0,0,GERD
1,1,1,0,0,0,0,Asthma
2,0,0,1,1,1,0,Hypertension
3,0,0,1,0,0,0,Migraine

In [ ]:
test = df_test.iloc[:,:-1]
actual = df_test.iloc[:,-1]

In [ ]:
test.head()

   cough  breathlessness  headache  chest_pain  loss_of_balance  blackheads
0      1               0         0           1                0           0
1      1               1         0           0                0           0
2      0               0         1           1                1           0
3      0               0         1           0                0           0

In [ ]:
model.score(test,actual)

1.0

In [ ]:
model.predict(test)

array(['GERD', 'Asthma', 'Hypertension', 'Migraine'], dtype=object)

In [ ]:
actual

0            GERD
1          Asthma
2    Hypertension
3        Migraine
Name: disease, dtype: object

# Save Model

In [ ]:
pkl_filename = 'model_data.pkl'
with open(pkl_filename, 'wb') as file:
  pickle.dump(model,file)