# API Setting

In [1]:
import tensorflow as tf
import numpy as np 
import pandas as pd
import pickle
import h5py


from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.svm import SVC

# Download Dataset

In [2]:
data_train = ! gdown -- 1KaT2WiyY03vll1C7JDa7hBRFxMHRKizZ

# Data Preparation

In [4]:
df_train = pd.read_csv('/content/train.csv')

In [5]:
df_train.head(10)

,cough,breathlessness,headache,chest_pain,loss_of_balance,blackheads,disease
0,0,0,0,0,0,1,Acne
1,0,0,0,0,0,1,Acne
2,0,0,0,0,0,1,Acne
3,0,0,0,0,0,1,Acne
4,0,0,0,0,0,0,Acne
5,0,0,0,0,0,1,Acne
6,0,0,0,0,0,1,Acne
7,0,0,0,0,0,1,Acne
8,0,0,0,0,0,0,Acne
9,0,0,0,0,0,1,Acne

In [6]:
df_train.isna().sum().value_counts()

0    7
dtype: int64

In [7]:
df_train.columns

Index(['cough', 'breathlessness', 'headache', 'chest_pain', 'loss_of_balance',
       'blackheads', 'disease'],
      dtype='object')

In [8]:
df_train

,cough,breathlessness,headache,chest_pain,loss_of_balance,blackheads,disease
0,0,0,0,0,0,1,Acne
1,0,0,0,0,0,1,Acne
2,0,0,0,0,0,1,Acne
3,0,0,0,0,0,1,Acne
4,0,0,0,0,0,0,Acne
...,...,...,...,...,...,...,...
95,0,0,1,0,0,0,Migraine
96,0,0,1,0,0,0,Migraine
97,0,0,1,0,0,0,Migraine
98,0,0,1,0,0,0,Migraine
99,0,0,1,0,0,0,Migraine

In [9]:
X = df_train.iloc[:,:-1]
Y = df_train.iloc[:,-1]

In [10]:
X.head()

   cough  breathlessness  headache  chest_pain  loss_of_balance  blackheads
0      0               0         0           0                0           1
1      0               0         0           0                0           1
2      0               0         0           0                0           1
3      0               0         0           0                0           1
4      0               0         0           0                0           0

In [11]:
Y

0         Acne
1         Acne
2         Acne
3         Acne
4         Acne
        ...
95    Migraine
96    Migraine
97    Migraine
98    Migraine
99    Migraine
Name: disease, Length: 100, dtype: object

In [12]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=69)

# Model Train and Testing

SVM Method

In [13]:
model = SVC().fit(X_train,Y_train)

In [14]:
accuracy = model.score(X_test,Y_test)
print("Accuracy = ", accuracy)

Accuracy =  0.95

In [15]:
data_test = ! gdown -- 1lVyBwL-j8TT924Oi9fk10lKz8UWNlYeg

In [16]:
df_test = pd.read_csv("/content/test.csv")

In [17]:
df_test

,cough,breathlessness,headache,chest_pain,loss_of_balance,blackheads,disease
0,1,0,0,1,0,0,GERD
1,1,1,0,0,0,0,Asthma
2,0,0,1,1,1,0,Hypertension
3,0,0,1,0,0,0,Migraine

In [18]:
test = df_test.iloc[:,:-1]
actual = df_test.iloc[:,-1]

In [19]:
test.head()

   cough  breathlessness  headache  chest_pain  loss_of_balance  blackheads
0      1               0         0           1                0           0
1      1               1         0           0                0           0
2      0               0         1           1                1           0
3      0               0         1           0                0           0

In [ ]:
model.score(test,actual)

1.0

In [ ]:
model.predict(test)

array(['GERD', 'Asthma', 'Hypertension', 'Migraine'], dtype=object)

In [20]:
actual

0            GERD
1          Asthma
2    Hypertension
3        Migraine
Name: disease, dtype: object

# Save Model

In [21]:
import pandas
from sklearn import model_selection
import joblib

model = SVC()
model.fit(X_train, Y_train)
filename = 'model_PredictDisease.pkl'
joblib.dump(model, filename)

['model_PredictDisease.pkl']

# Convert .pkl to json

In [23]:
import pickle
import json
import sys
import os

with open('model_PredictDisease.pkl', 'rb') as infile:
    obj = pickle.load(infile)

json_obj = json.loads(json.dumps(obj, default=str))

with open(
        os.path.splitext(sys.argv[1])[0] +'model_PredictDisease.json',
        'w',
        encoding='utf-8'
    ) as outfile:
    json.dump(json_obj, outfile, ensure_ascii=False, indent=4)